body {
    border: solid red 1px;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    border: solid blue 1px;
    display: flex;
    justify-content: center;
}

img {
    width: 250px;
    height: auto;
}