body {
    margin: 0;
    background-color: gray;
}

body h1 {
    display: flex;
    justify-content: center;
    margin: 0px;
    color: green;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 85px;
}

.one li, .two li {
    display: flex;
    justify-content: center;
    color: orange;
    font-weight: bold;
    font-size: 30px;
}

img {
    width: 250px;
    height: auto;
}

.one, .two {
}